<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Design your own taco</title>
</head>
<body>
<form th:method="post" th:action="@{/design}" th:object="${taco}">
    <div class="grid">
        <div class="ingredients-group" id="wraps">
            <h3>Designate your wrap:</h3>
            <div th:each="ingredient: ${wrap}">
                <input th:field="*{ingredients}" th:text="${ingredient.name}" type="checkbox" th:value="${ingredient.id}">
            </div>
        </div>
        <div class="ingredients-group" id="proteins">
            <h3>Designate your protein:</h3>
            <div th:each="ingredient: ${protein}">
                <input th:field="*{ingredients}" th:text="${ingredient.name}" type="checkbox" th:value="${ingredient.id}">
            </div>
        </div>
        <div class="ingredients-group" id="veggies">
            <h3>Designate your veggies:</h3>
            <div th:each="ingredient: ${veggies}">
                <input th:field="*{ingredients}" th:text="${ingredient.name}" type="checkbox" th:value="${ingredient.id}">
            </div>
        </div>
        <div class="ingredients-group" id="cheeses">
            <h3>Designate your cheese:</h3>
            <div th:each="ingredient: ${cheese}">
                <input th:field="*{ingredients}" th:text="${ingredient.name}" type="checkbox" th:value="${ingredient.id}">
            </div>
        </div>
        <div class="ingredients-group" id="sauses">
            <h3>Designate your sause:</h3>
            <div th:each="ingredient: ${sause}">
                <input th:field="*{ingredients}" th:text="${ingredient.name}" type="checkbox" th:value="${ingredient.id}">
            </div>
        </div>
    </div>
    <div>
        <h3>Name your taco creation:</h3>
        <input type="text" th:field="*{name}"/>
        <br/>

        <button>Submit your taco</button>
    </div>

</form>
</body>
</html>