<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Submit your order</title>
</head>
<body>
<form method="post" th:action="@{/orders}" th:object="${order}">
  <img th:src="@{/images/TacoCloud.png}">
  <h3>Deliver my taco masterpiece to...</h3>
  <label th:for="name">Name: </label>
  <input type="text" name="name" th:field="*{deliveryName}">
  <label th:for="street">Street: </label>
  <input type="text" name="street" th:field="*{deliveryStreet}">
  <label th:for="street">Street address: </label>
  <input type="text" name="street" th:field="*{deliveryStreet}">
  <label th:for="city">City: </label>
  <input type="text" name="city" th:field="*{deliveryCity}">
  <label th:for="state">State: </label>
  <input type="text" name="state" th:field="*{deliveryState}">
  <label th:for="zip">Zip code: </label>
  <input type="text" name="zip" th:field="*{deliveryZip}">
  <br>
  <br>
  <h3>Here's how I'll pay</h3>
  <label th:for="ccNumber">Credit Card #: </label>
  <input type="text" name="ccNumber" th:field="*{ccNumber}">
  <label th:for="ccExpiration">Credit Card expiration: </label>
  <input type="text" name="ccExpiration" th:field="*{ccExpiration}">
  <label th:for="ccCVV">CCV: </label>
  <input type="text" name="ccCVV" th:field="*{ccCVV}">
  <button>Submit</button>

  <a th:href="@{/design}">Design another taco</a>
</form>
</body>
</html>